@media (max-width: 991.98px) {
  .page-title + hr {
    display: block; } }

.contacts-button {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(194, 198, 210, 0.2);
  border-radius: 8px;
  padding: 16px;
  border: none;
  transition: all 0.2s ease-in-out; }
  .contacts-button:hover {
    box-shadow: 0 10px 20px -5px rgba(194, 198, 210, 0.3); }
  @media (max-width: 991.98px) {
    .contacts-button:first-child {
      margin-bottom: 24px; } }
  .contacts-button * {
    vertical-align: middle; }
  .contacts-button span {
    display: inline-block;
    font-family: 'CirceRegular';
    font-size: 16px; }
  .contacts-button i {
    font-size: 24px;
    color: #577ABB; }
  .contacts-button img,
  .contacts-button i {
    display: inline-block;
    margin-right: 16px; }

.contacts-row {
  display: flex;
  margin-bottom: 72px; }
  .contacts-row:last-child {
    margin-bottom: 16px; }
  @media (max-width: 991.98px) {
    .contacts-row {
      flex-wrap: wrap;
      margin-bottom: 32px; } }
  .contacts-row .contacts-col {
    margin-bottom: 0; }
    @media (max-width: 991.98px) {
      .contacts-row .contacts-col {
        width: 100%;
        margin-bottom: 16px; } }

h4 {
  font-family: 'CirceRegular'; }
