.mu-primary-btn,
.mu-send-msg-btn {
  border-radius: 0;
}

.mu-contact-form .form-group textarea,
.mu-contact-form .form-group input {
  border-radius: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 0;
}

h2 {
  font-size: 48px;
}

@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}

.mu-hero-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.mu-hero-right .mu-primary-btn {
  font-size: 28px;
  font-weight: 400;
  padding: 20px 80px;
  margin: 0 20px 30px 0;
}
@media (max-width: 991px) {
  .mu-hero-right .mu-primary-btn {
    margin: 40px 0 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }
}

.mu-hero-left .mu-primary-btn {
  font-size: 26px;
  font-weight: 400;
  padding: 20px 50px;
}
.mu-hero-left h1 {
  font-size: 60px;
  margin-bottom: 14px;
}
.mu-hero-left h2 {
  font-size: 45px;
  margin-bottom: 36px;
  color: #fff;
}
.mu-hero-left p {
  font-size: 18px;
  margin-bottom: 20px;
}
.mu-hero-left p:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .mu-hero-left p {
    font-size: 16px;
  }
}

.mu-pricing-single-head .mu-price-tag {
  font-weight: 500;
}
.mu-pricing-single-head .mu-price-tag span {
  font-size: 35px;
  margin-left: -10px;
}

.mu-order-btn {
  border-radius: 0;
}

#mu-hero {
  background: #000002 url("../images/an-bg-test3.jpg") no-repeat bottom center;
  -webkit-box-shadow: 10px 10px 20px #000002;
  box-shadow: 10px 10px 20px #000002;
  background-size: auto 100%;
}
@media (max-width: 767px) {
  #mu-hero {
    background-position: bottom right 30%;
    padding-top: 320px;
  }
}

.mu-author-info h3 {
  padding-bottom: 24px;
  margin-bottom: 20px;
  font-size: 40px;
}
.mu-author-info p {
  font-size: 18px;
}

.mu-heading-area p {
  font-size: 20px;
}

.mu-testimonial-slide .mu-rt-img {
  -o-object-fit: cover;
  object-fit: cover;
}
.mu-testimonial-slide li p {
  font-size: 20px;
}

.navbar-default .mu-menu {
  list-style: none;
}
.navbar-default .mu-menu li {
  list-style: none;
}
.navbar-default .mu-menu li a {
  font-size: 16px;
}
.navbar-default .navbar-header .navbar-brand {
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .navbar-default .navbar-header .navbar-brand {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .navbar-default .navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  width: 40px;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 9px;
}

.mu-video-review-area {
  position: relative;
  z-index: 1;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .mu-menu li a:after {
  left: 0;
}

.mu-fixed-nav .navbar-collapse {
  background: transparent;
}