@media (max-width: 991.98px) {
  .slider-container {
    padding: 0; } }

.slider1 {
  height: 600px;
  position: relative; }
  @media (max-width: 991.98px) {
    .slider1 {
      height: 500px;
      overflow: hidden; } }
  .slider1 .owl-stage-outer,
  .slider1 .owl-stage,
  .slider1 .owl-item {
    height: 100%; }
  .slider1 .owl-dots {
    display: none;
    position: absolute;
    bottom: 24px;
    z-index: 20;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .slider1 .owl-dots .owl-dot {
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
      .slider1 .owl-dots .owl-dot:first-child ~ .owl-dot {
        margin-left: 4px; }
      .slider1 .owl-dots .owl-dot.active {
        width: 8px;
        height: 8px; }
    @media (max-width: 991.98px) {
      .slider1 .owl-dots {
        display: flex; } }
  .slider1 .item {
    position: relative;
    height: 100%; }
  .slider1 .info {
    position: relative;
    z-index: 10;
    padding-top: 180px; }
    .slider1 .info h2 {
      font-size: 72px;
      line-height: 72px;
      margin-bottom: 24px;
      width: 596px; }
      @media (max-width: 991.98px) {
        .slider1 .info h2 {
          font-size: 48px;
          line-height: 56px;
          width: 100%;
          text-align: center;
          color: #fff;
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); } }
    .slider1 .info p {
      font-size: 16px;
      line-height: 24px;
      width: 450px;
      font-family: 'CirceRegular'; }
      @media (max-width: 991.98px) {
        .slider1 .info p {
          display: none; } }
  .slider1 .image-block {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #84C3BB;
    width: 75%;
    height: 100%; }
    @media (max-width: 991.98px) {
      .slider1 .image-block {
        width: 100%; } }
    .slider1 .image-block img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 90%;
      z-index: 2;
      mix-blend-mode: multiply; }
    .slider1 .image-block .red-circle {
      position: absolute;
      background: #D34F43;
      width: 360px;
      height: 360px;
      top: 100px;
      left: 242px;
      border-radius: 100%;
      z-index: 1; }
  .slider1 .owl-nav {
    position: absolute;
    bottom: 0;
    left: calc(25% - 40px);
    z-index: 20;
    display: flex; }
    @media (max-width: 991.98px) {
      .slider1 .owl-nav {
        display: none; } }
    .slider1 .owl-nav button {
      display: block;
      font-style: normal;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff !important;
      background: #93C7EC !important;
      cursor: pointer; }
      .slider1 .owl-nav button i {
        line-height: 40px; }
    .slider1 .owl-nav .owl-next {
      background: #577ABB !important; }

.slider-wrapper {
  position: relative; }
  .slider-wrapper .slider2 .item {
    display: flex; }
    @media (max-width: 991.98px) {
      .slider-wrapper .slider2 .item {
        flex-wrap: wrap; } }
  .slider-wrapper .slider2 .slide-info {
    position: relative;
    width: 50%;
    background: #ECCC40;
    padding: 40px 24px 40px 50px; }
    @media (max-width: 991.98px) {
      .slider-wrapper .slider2 .slide-info {
        width: 100%;
        padding: 24px 16px 48px;
        order: 2; } }
    .slider-wrapper .slider2 .slide-info h3 {
      font-size: 48px;
      line-height: 64px;
      margin-bottom: 32px;
      width: 80%; }
      @media (max-width: 991.98px) {
        .slider-wrapper .slider2 .slide-info h3 {
          width: 100%;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 16px; } }
    .slider-wrapper .slider2 .slide-info .slide-label {
      display: flex;
      align-items: center;
      font-family: 'CirceRegular'; }
      .slider-wrapper .slider2 .slide-info .slide-label span {
        font-size: 16px;
        color: #2D3047; }
      .slider-wrapper .slider2 .slide-info .slide-label .line {
        background: #201600;
        height: 1px;
        width: 50%;
        margin-left: 16px; }
        @media (max-width: 991.98px) {
          .slider-wrapper .slider2 .slide-info .slide-label .line {
            flex: 1 1 auto; } }
    .slider-wrapper .slider2 .slide-info .slide-text {
      margin-left: 60px;
      width: 63%;
      margin-bottom: 32px; }
      @media (max-width: 991.98px) {
        .slider-wrapper .slider2 .slide-info .slide-text {
          width: 100%;
          margin-left: 0;
          margin-bottom: 16px; } }
  .slider-wrapper .slider2 .red-link {
    font-family: 'CirceRegular';
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    border-bottom: 2px solid #D34F43;
    display: inline-block;
    margin-left: 60px;
    color: #D34F43; }
    .slider-wrapper .slider2 .red-link:hover {
      text-decoration: none;
      border: none; }
    @media (max-width: 991.98px) {
      .slider-wrapper .slider2 .red-link {
        margin-left: 0; } }
  .slider-wrapper .slider2 .slide-image {
    width: 50%; }
    .slider-wrapper .slider2 .slide-image img {
      height: 100%;
      width: auto; }
      @media (max-width: 991.98px) {
        .slider-wrapper .slider2 .slide-image img {
          width: 100%;
          height: auto; } }
    @media (max-width: 991.98px) {
      .slider-wrapper .slider2 .slide-image {
        width: 100%; } }
  .slider-wrapper .owl-nav {
    font-family: 'CirceRegular';
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    right: calc(50% + 24px);
    display: flex; }
    .slider-wrapper .owl-nav button:last-child {
      margin-left: 66px; }
    @media (max-width: 991.98px) {
      .slider-wrapper .owl-nav {
        right: 16px;
        bottom: 56px; } }
  .slider-wrapper .slide-counts {
    position: absolute;
    bottom: 40px;
    right: calc(50% + 47px);
    z-index: 20;
    font-family: 'CirceRegular';
    font-size: 16px;
    line-height: 24px; }
    .slider-wrapper .slide-counts span {
      display: inline-block; }
      .slider-wrapper .slide-counts span:last-child {
        margin-left: 16px; }
    @media (max-width: 991.98px) {
      .slider-wrapper .slide-counts {
        right: 39px;
        bottom: 56px; } }

.projects-block {
  background: #f7f8f8; }
  .projects-block .giant-title {
    color: #c6c6c6; }
