.wrapper {
  overflow-x: hidden; }

.top-image {
  position: relative;
  overflow: hidden;
  height: 600px;
  background: rgba(236, 204, 64, 0.8);
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  visibility: hidden; }
  .top-image .building {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 222px;
    background: url("../img/building.png") no-repeat left;
    background-size: cover;
    z-index: 11;
    mix-blend-mode: multiply; }
    @media (max-width: 991.98px) {
      .top-image .building {
        height: 144px; } }
  .top-image .man {
    position: absolute;
    bottom: 129px;
    left: 346px;
    width: 313px;
    height: 313px;
    background: url("../img/man.png") no-repeat center;
    z-index: 10;
    mix-blend-mode: multiply;
    background-size: cover; }
    @media (max-width: 991.98px) {
      .top-image .man {
        height: 162px;
        width: 162px;
        bottom: 84px;
        left: 233px; } }
    .top-image .man .horns {
      position: absolute;
      top: -72px;
      left: -20px;
      width: 332px;
      height: 140px;
      background: url("../img/horns.png") no-repeat center;
      z-index: 9;
      mix-blend-mode: multiply;
      background-size: cover; }
      @media (max-width: 991.98px) {
        .top-image .man .horns {
          width: 172px;
          height: 72px;
          top: -37px;
          left: -11px; } }
  .top-image h1 {
    position: relative;
    z-index: 12;
    font-size: 72px;
    line-height: 72px;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center; }
    @media (max-width: 991.98px) {
      .top-image h1 {
        font-size: 48px;
        line-height: 71px; } }
  @media (max-width: 991.98px) {
    .top-image {
      height: 390px; } }

.main-phrase {
  font-family: 'CirceLight';
  font-size: 48px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.005em;
  text-transform: uppercase; }
  @media (max-width: 991.98px) {
    .main-phrase {
      font-size: 24px;
      line-height: 35px; } }

.similar-articles {
  background: #2D3047; }
  .similar-articles .giant-title {
    color: #F8F9F9; }
    @media (max-width: 991.98px) {
      .similar-articles .giant-title {
        line-height: 67px;
        margin-bottom: 56px; } }
  .similar-articles .short-card {
    color: #fff; }

.img-block {
  position: relative; }
  .img-block img {
    width: 100%; }
  .img-block .img-label {
    display: flex;
    width: calc(100% - 24px);
    min-height: 32px;
    align-items: center;
    position: absolute; }
    @media (max-width: 991.98px) {
      .img-block .img-label {
        padding: 0 12px;
        justify-content: center;
        text-align: center; } }
    .img-block .img-label span {
      font-style: italic;
      font-size: 12px;
      line-height: 16px; }
  .img-block.top {
    margin-top: 40px;
    margin-bottom: 24px; }
    .img-block.top .img-label {
      top: -40px; }
  .img-block.bottom {
    margin-bottom: 40px; }
    .img-block.bottom .img-label {
      bottom: -40px; }
  .img-block.wide {
    margin-bottom: 142px; }
    @media (max-width: 991.98px) {
      .img-block.wide {
        margin-bottom: 132px; } }
    .img-block.wide .img-label {
      bottom: -78px;
      justify-content: center; }
      @media (max-width: 991.98px) {
        .img-block.wide .img-label {
          bottom: -88px; } }

.page-read-info {
  position: -webkit-sticky;
  position: sticky;
  bottom: -2px;
  padding-bottom: 2px;
  left: 0;
  width: 100%;
  height: 56px;
  background: #2D3047;
  display: flex;
  justify-content: space-between;
  z-index: 100; }
  @media (max-width: 991.98px) {
    .page-read-info {
      height: 64px; } }
  .page-read-info.big {
    height: 80px; }
  .page-read-info .more-articles-link {
    font-family: 'CirceRegular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #fff;
    border-bottom: 1px solid #D34F43; }
    @media (max-width: 991.98px) {
      .page-read-info .more-articles-link {
        display: none; } }
    .page-read-info .more-articles-link:hover {
      text-decoration: none;
      border: none; }
  .page-read-info .time {
    color: #fff;
    font-family: 'CirceLight'; }
    .page-read-info .time .count {
      font-size: 18px;
      font-family: 'CirceRegular'; }
    @media (max-width: 991.98px) {
      .page-read-info .time {
        width: 100%;
        text-align: center; } }
  .page-read-info .share {
    font-family: 'CirceRegular';
    margin-right: 24px;
    color: #fff; }
  .page-read-info .timeline {
    position: absolute;
    width: 0;
    height: 8px;
    top: -8px;
    left: 0;
    background: #D34F43;
    transition: all 0.3s ease-in-out; }
  .page-read-info .social-links {
    display: flex;
    align-items: center; }
    @media (max-width: 991.98px) {
      .page-read-info .social-links {
        display: none; } }
    .page-read-info .social-links .fab {
      font-size: 18px; }
  .page-read-info .share-link {
    width: 24px;
    height: 24px;
    display: none;
    background: url("../img/share_icon.svg") no-repeat center;
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto; }
    @media (max-width: 991.98px) {
      .page-read-info .share-link {
        display: block; } }

.note {
  font-size: 13px;
  line-height: 19px;
  color: #505050;
  font-style: italic; }
  .note strong {
    font-style: normal; }

.blue-bullets-list {
  list-style: none;
  padding-left: 24px; }
  .blue-bullets-list li {
    position: relative;
    margin-bottom: 40px; }
    @media (max-width: 991.98px) {
      .blue-bullets-list li {
        margin-bottom: 32px; } }
    .blue-bullets-list li:last-child {
      margin-bottom: 0; }
    .blue-bullets-list li::before {
      content: '';
      position: absolute;
      left: -24px;
      top: 8px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: #577ABB; }

@media (max-width: 991.98px) {
  .article-author {
    flex-wrap: nowrap; } }

.article-author .person-position {
  font-style: normal;
  color: #505050;
  font-family: 'CirceLight'; }
  @media (max-width: 991.98px) {
    .article-author .person-position {
      font-size: 16px;
      line-height: 24px; } }

.custom-title {
  font-size: 40px;
  line-height: 113.4%; }
  @media (max-width: 991.98px) {
    .custom-title {
      font-size: 24px;
      line-height: 32px; } }

.custom-gray-text {
  font-size: 18px;
  line-height: 166.4%;
  color: #99A3AA;
  display: inline-block; }

.tooltip-link {
  position: relative;
  display: inline;
  cursor: pointer; }
  .tooltip-link span {
    position: absolute;
    width: 370px;
    top: 30px;
    left: 50%;
    margin-left: -185px;
    color: #505050;
    background: #FFFFFF;
    border: 3px solid #577ABB;
    visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 44px 16px 16px;
    font-size: 13px;
    line-height: 19px;
    transition: visibility 0.3s ease-in-out; }
    @media (max-width: 767.98px) {
      .tooltip-link span {
        left: 0;
        margin-left: 0;
        width: calc(100vw - 24px); } }
    .tooltip-link span:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -12px;
      width: 0;
      height: 0;
      border-bottom: 16px solid #577ABB;
      border-right: 12px solid transparent;
      border-left: 12px solid transparent; }
    .tooltip-link span:after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      border-bottom: 11px solid #FFFFFF;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent; }
    .tooltip-link span.show {
      visibility: visible;
      opacity: 1;
      z-index: 999; }
    .tooltip-link span .close-tooltip {
      font-size: 10px;
      position: absolute;
      padding: 16px;
      top: 0;
      right: 0;
      color: #444444;
      cursor: pointer; }

.slider3 {
  position: relative; }
  @media (max-width: 991.98px) {
    .slider3 .item {
      height: 375px; }
      .slider3 .item img {
        height: 100%;
        width: auto; } }
  .slider3 .owl-dots {
    display: none;
    position: absolute;
    bottom: 24px;
    z-index: 20;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .slider3 .owl-dots .owl-dot {
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
      .slider3 .owl-dots .owl-dot:first-child ~ .owl-dot {
        margin-left: 4px; }
      .slider3 .owl-dots .owl-dot.active {
        width: 8px;
        height: 8px; }
    @media (max-width: 991.98px) {
      .slider3 .owl-dots {
        display: flex; } }
  .slider3 .owl-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
    display: flex; }
    @media (max-width: 991.98px) {
      .slider3 .owl-nav {
        display: none; } }
    .slider3 .owl-nav button {
      font-family: "Lora" !important;
      display: block;
      font-style: normal;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #201600 !important;
      background: #fff !important;
      cursor: pointer; }
      .slider3 .owl-nav button:first-child {
        margin-right: 40px; }

.slider-wrapper {
  position: relative; }
  .slider-wrapper .slider-counter {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    bottom: 0;
    right: 40px;
    z-index: 20; }
    @media (max-width: 991.98px) {
      .slider-wrapper .slider-counter {
        display: none; } }
  .slider-wrapper .slider-label {
    font-size: 12px;
    line-height: 16px;
    font-style: italic;
    color: #505050;
    position: absolute;
    bottom: -24px; }
    @media (max-width: 991.98px) {
      .slider-wrapper .slider-label {
        text-align: center;
        bottom: -40px;
        width: 100%; } }
