.top-image {
  position: absolute;
  top: 0;
  left: 4rem;
  right: 4rem; }

.mass-media-description1 {
  height: 37.625rem;
  position: relative;
  margin-bottom: 5.8125rem; }
  .mass-media-description1 .image {
    height: 100%; }
    .mass-media-description1 .image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .mass-media-description1 .description {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #F5F5F5;
    padding: 2rem 2rem 0;
    margin-left: 9.5rem; }
    .mass-media-description1 .description p {
      margin: 0;
      width: 58.333%;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #000; }

.mass-media-description2 {
  margin-bottom: 5.5rem; }
  .mass-media-description2 .image {
    width: 66.666%;
    margin-left: 25%;
    margin-bottom: 1.5rem; }
    .mass-media-description2 .image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .mass-media-description2 p {
    margin: 0 0 0 16.666%;
    width: 58.333%;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #000; }
