.asRange {
  position: relative;
  height: 16px;
  background-color: #F3F4F5; }
  .asRange .asRange-pointer {
    position: absolute;
    left: 30%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    background-color: #fff;
    z-index: 2;
    top: -12px;
    box-shadow: 0 4px 10px rgba(194, 198, 210, 0.25);
    border-radius: 40px; }
    .asRange .asRange-pointer:after {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      content: '';
      background: #577ABB; }
    .asRange .asRange-pointer.start {
      left: 0%;
      margin-left: 4px; }
    .asRange .asRange-pointer.stop {
      left: 100%;
      margin-left: -12px; }
    .asRange .asRange-pointer .asRange-tip {
      position: absolute;
      top: -32px;
      left: 50%;
      width: 36px;
      height: 20px;
      line-height: 20px;
      margin-left: -18px;
      font-family: 'CirceRegular';
      font-size: 12px;
      text-align: center;
      transition: opacity 0.3s ease-in-out 0s; }
  .asRange .asRange-selected {
    position: absolute;
    left: 30%;
    width: 40%;
    height: 16px;
    background-color: #577ABB;
    z-index: 1;
    border-radius: 16px; }
  .asRange .asRange-scale {
    display: none; }

.asRange-scale {
  position: relative;
  width: 331px;
  height: 8px;
  background-color: #cfcdc7;
  border-radius: 8px; }
  .asRange-scale .asRange-pointer {
    position: absolute;
    left: 30%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background-color: #fff;
    z-index: 2;
    border-radius: 9px; }
    .asRange-scale .asRange-pointer:before {
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      content: '';
      background: #6ba1ad;
      border-radius: inherit; }
    .asRange-scale .asRange-pointer:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: #fff;
      border-radius: inherit; }
    .asRange-scale .asRange-pointer.start {
      left: 0%;
      margin-left: 4px; }
    .asRange-scale .asRange-pointer.stop {
      left: 100%;
      margin-left: -12px; }
    .asRange-scale .asRange-pointer .asRange-tip {
      position: absolute;
      top: -33px;
      left: 0;
      width: 36px;
      height: 20px;
      line-height: 20px;
      margin-left: -15px;
      border: 1px solid #5d5c58;
      background-color: #5d5c58;
      color: #fff;
      font-family: Bpreplay;
      font-size: 12px;
      text-align: center;
      transition: opacity 0.3s ease-in-out 0s;
      border-radius: 3px; }
      .asRange-scale .asRange-pointer .asRange-tip:before {
        position: absolute;
        bottom: -3px;
        left: 50%;
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #5d5c58;
        transform: rotate(-45deg); }
  .asRange-scale .asRange-selected {
    position: absolute;
    left: 30%;
    width: 40%;
    height: 8px;
    background-color: #7ebdcb;
    z-index: 1;
    border-radius: 9px; }
  .asRange-scale .asRange-scale {
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: url("../image/scale.png") no-repeat 0 center transparent; }
    .asRange-scale .asRange-scale li {
      position: absolute;
      top: 18px;
      width: 30px;
      height: 20px;
      margin: 0;
      padding: 0;
      margin-left: -15px;
      text-align: center; }
      .asRange-scale .asRange-scale li:first-child {
        left: 0%; }
      .asRange-scale .asRange-scale li:nth-child(2) {
        left: 33.3%; }
      .asRange-scale .asRange-scale li:nth-child(3) {
        left: 66.6%; }
      .asRange-scale .asRange-scale li:last-child {
        left: 100%; }

.wrapper {
  padding-top: 0; }
  @media (max-width: 991.98px) {
    .wrapper {
      padding-top: 91px; } }
  .wrapper h2:not(.giant-title) {
    line-height: 71px; }
    @media (max-width: 991.98px) {
      .wrapper h2:not(.giant-title) {
        font-size: 24px;
        line-height: 32px; } }

@media (max-width: 991.98px) {
  .page-card-container {
    padding: 0; } }

.page-card {
  margin-top: 64px;
  position: relative;
  height: 600px; }
  @media (max-width: 991.98px) {
    .page-card {
      height: 375px;
      margin-top: 0; } }
  .page-card .image-block {
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    background: #A9D2F0 url("../img/project_img.png") no-repeat bottom 50px right 30px;
    mix-blend-mode: multiply; }
    @media (max-width: 991.98px) {
      .page-card .image-block {
        background: #A9D2F0; } }
  .page-card .info {
    position: relative;
    z-index: 100;
    padding-top: 144px; }
    @media (max-width: 991.98px) {
      .page-card .info {
        padding: 16px;
        display: flex;
        align-items: center;
        height: 100%; } }
    .page-card .info .category {
      display: inline-block;
      background: #84C3BB;
      color: #fff;
      padding: 0 8px;
      height: 24px;
      margin-bottom: 24px;
      line-height: 26px;
      font-family: 'CirceLight'; }
      @media (max-width: 991.98px) {
        .page-card .info .category {
          display: none; } }
    .page-card .info h1 {
      width: 65%;
      margin-bottom: 8px; }
      @media (max-width: 991.98px) {
        .page-card .info h1 {
          font-size: 28px;
          line-height: 32px;
          width: 100%;
          margin-bottom: 0; } }
    .page-card .info .event-date {
      font-family: 'CirceRegular';
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 48px; }

.about-project {
  position: relative;
  padding-top: 1px;
  margin-top: -1px; }
  .about-project .giant-title {
    position: absolute;
    color: rgba(0, 0, 0, 0.03);
    top: -104px; }
    @media (max-width: 991.98px) {
      .about-project .giant-title {
        position: relative;
        top: auto; } }

.scheme {
  position: relative; }
  .scheme .static-bg {
    width: 100%;
    z-index: 0; }
  .scheme .layer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
    .scheme .layer.show {
      opacity: 1; }

.range-slider {
  height: 100px; }

.awards {
  font-family: 'CirceRegular'; }
  .awards .item {
    margin-right: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    cursor: pointer; }
    @media (max-width: 991.98px) {
      .awards .item {
        margin-bottom: 16px; } }
    .awards .item:hover span {
      display: inline-block;
      color: #adb5bd;
      background-image: linear-gradient(#93c7ec, #93c7ec);
      background-position: 0 100%;
      background-size: 100% 8px;
      background-repeat: no-repeat;
      line-height: 24px; }

.tasks {
  position: relative; }
  .tasks .giant-title {
    position: absolute;
    color: rgba(0, 0, 0, 0.03);
    top: 0; }
    @media (max-width: 991.98px) {
      .tasks .giant-title {
        position: relative;
        top: auto; } }

.scheme-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto; }
  @media (max-width: 991.98px) {
    .scheme-controls {
      justify-content: start; } }
  .scheme-controls .control {
    width: 100px;
    text-align: center;
    cursor: pointer; }
    .scheme-controls .control i {
      width: 72px;
      height: 72px;
      text-align: center;
      line-height: 70px;
      background: rgba(153, 163, 170, 0.1);
      border-radius: 100%;
      margin-bottom: 16px;
      color: #444;
      font-size: 40px; }
    .scheme-controls .control.active[data-control="layer1"] i {
      background: #FBEABD; }
    .scheme-controls .control.active[data-control="layer2"] i {
      background: #FFA780; }
    .scheme-controls .control.active[data-control="layer3"] i {
      background: #FFD743; }
    .scheme-controls .control.active[data-control="layer4"] i {
      background: #DEDC69; }
    .scheme-controls .control.active[data-control="layer5"] i {
      background: #EE8F62; }
    .scheme-controls .control.active[data-control="layer6"] i {
      background: #AD85AE; }
    .scheme-controls .control.active[data-control="layer7"] i {
      background: #B1B5E1; }
    .scheme-controls .control.active[data-control="layer8"] i {
      background: #78CE93; }
    .scheme-controls .control-label {
      font-family: 'CirceLight';
      font-size: 12px;
      line-height: 16px;
      color: #000; }
    .scheme-controls .control:first-child ~ .control {
      margin-left: 40px; }

.chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 430px; }
  @media (max-width: 991.98px) {
    .chart {
      flex-direction: column;
      height: auto; } }
  .chart .item {
    font-family: 'CirceRegular';
    position: relative; }
    .chart .item .bar {
      width: 88px;
      position: absolute;
      z-index: 9;
      text-align: right;
      bottom: 0;
      left: calc(50% - 44px);
      opacity: 0; }
      .chart .item .bar .count {
        font-size: 48px;
        line-height: 40px;
        letter-spacing: 0.005em;
        font-family: 'CirceBold';
        transform: rotate(-90deg);
        position: absolute;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.5s ease-in-out; }
        .chart .item .bar .count.visible {
          opacity: 1; }
        .chart .item .bar .count span {
          font-size: 32px; }
        .chart .item .bar .count sup {
          font-family: 'CirceBold';
          font-size: 16px;
          top: -14px; }
    .chart .item .label {
      font-size: 16px;
      line-height: 18px;
      font-family: 'CirceBold';
      position: absolute;
      z-index: 11; }
    .chart .item.first .bar {
      background: rgba(187, 67, 6, 0.8);
      height: 0;
      transition: all 0.5s ease-in-out;
      margin-left: -5px; }
      .chart .item.first .bar .count {
        left: -103px;
        top: 56px; }
      .chart .item.first .bar.show {
        height: 165px;
        opacity: 1; }
    .chart .item.first .label {
      top: -152px; }
    @media (max-width: 991.98px) {
      .chart .item.first {
        height: 276px; }
        .chart .item.first .label {
          top: 40px !important;
          left: calc(50% - 43px) !important; }
        .chart .item.first img {
          left: calc(50% - 45px) !important; }
        .chart .item.first .bar {
          left: calc(50% - 40px) !important; } }
    .chart .item.second .bar {
      background: rgba(254, 196, 50, 0.8);
      height: 0;
      margin-left: -52px;
      transition: all 0.7s ease-in-out; }
      .chart .item.second .bar .count {
        left: -129px;
        top: 81px; }
      .chart .item.second .bar.show {
        height: 260px;
        opacity: 1; }
    .chart .item.second .label {
      top: -198px; }
    @media (max-width: 991.98px) {
      .chart .item.second {
        height: 370px; }
        .chart .item.second .label {
          top: 40px !important;
          left: calc(50% - 43px) !important; }
        .chart .item.second img {
          left: calc(50% - 45px) !important; }
        .chart .item.second .bar {
          left: calc(50% + 10px) !important; } }
    .chart .item.third .bar {
      background: rgba(214, 215, 85, 0.8);
      height: 0;
      transition: all 1s ease-in-out;
      margin-left: -44px; }
      .chart .item.third .bar .count {
        left: -133px;
        top: 83px; }
      .chart .item.third .bar.show {
        height: 334px;
        opacity: 1; }
    .chart .item.third .label {
      top: -164px; }
    @media (max-width: 991.98px) {
      .chart .item.third {
        height: 444px; }
        .chart .item.third .label {
          top: 40px !important;
          left: calc(50% - 43px) !important; }
        .chart .item.third img {
          left: calc(50% - 45px) !important; }
        .chart .item.third .bar {
          left: 50% !important; } }
    @media (max-width: 991.98px) {
      .chart .item {
        width: 100%; }
        .chart .item img {
          position: absolute !important;
          bottom: 0; } }
    .chart .item img {
      position: relative;
      z-index: 10; }
  .chart.transport .item.first img {
    margin-right: -55px; }
  .chart.transport .item.first .label {
    top: -106px; }
  .chart.transport .item.second img {
    margin-right: 46px; }
  .chart.transport .item.second .label {
    top: -154px; }
  .chart.transport .item.third img {
    margin-right: -38px; }
  .chart.transport .item.third .label {
    top: -262px; }

.author-list {
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-column-count: 4;
       column-count: 4; }
  @media (max-width: 991.98px) {
    .author-list {
      -moz-column-count: 1;
           column-count: 1; } }
  .author-list li {
    margin-bottom: 24px; }
    .author-list li p {
      font-family: 'CirceRegular'; }
      @media (max-width: 991.98px) {
        .author-list li p {
          margin-bottom: 8px; } }
    .author-list li i {
      letter-spacing: 0.005em;
      color: #505050; }

.search-findings .search-category {
  font-family: 'CirceRegular';
  font-size: 24px; }

.search-findings img {
  width: 88px; }

.search-findings span.found-phrase {
  background: #ffc107;
  line-height: 16px;
  display: inline-block; }

.search-findings .search-date {
  font-family: 'CirceRegular';
  font-size: 14px;
  line-height: 16px;
  color: #99A3AA; }

@media (max-width: 991.98px) {
  .bg-light-gray {
    margin: 0 -12px;
    padding-left: 12px;
    padding-right: 12px; } }

@media (max-width: 991.98px) {
  .projects-head {
    padding-top: 0; } }

@media (max-width: 991.98px) {
  h2 {
    font-size: 24px;
    line-height: 32px; } }

.custom-nav {
  justify-content: center !important; }
