.table {
  font-family: 'CirceRegular'; }
  .table .table-head {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(153, 163, 170, 0.3);
    color: #99A3AA;
    justify-content: space-between; }
    .table .table-head [class^=col-] {
      padding: 24px 0; }
  .table .table-body .table-row {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(153, 163, 170, 0.3);
    justify-content: space-between; }
  .table .table-body [class^=col-] {
    padding: 16px 0; }
  .table .col-name {
    display: flex;
    align-items: center;
    width: 25%; }
    .table .col-name .name {
      font-size: 16px;
      line-height: 24px;
      font-family: 'CirceBold'; }
    .table .col-name img {
      width: 64px;
      height: 64px;
      border-radius: 100%;
      margin-right: 16px; }
  .table .col-email {
    width: 25%;
    align-items: center; }
    .table .col-email .blue-link {
      font-size: 16px; }
  .table .col-phone,
  .table .col-cabinet {
    width: 15%; }
  .table .col-address {
    width: 20%; }
